global
      maxconn     4096 
      nbproc      1
      log         127.0.0.1   local0

  defaults
      mode        https
      option      httplog
      log         global
    
  frontend unsecured *:80
      timeout     client      86400000
      option      httpclose

      acl is_websocket path_beg /socket.io
      acl is_websocket hdr(Upgrade) -i WebSocket
      use_backend socket_backend_http if is_websocket
      option      forwardfor  #forward’s clients IP to app
